@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.display-flex{
    display: flex;
}
body{
    font-family: Quicksand; 
}
/* STYLING NAVBAR */
marquee{

    margin-top: 10px;
    color: #01ACFD;
}
.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    max-width: 1200px;
    margin-left: 140px;
    margin-right: 200px;
}
.nav-links{
    display: flex;
    
}
.nav-items{
    list-style: none;
    margin-right: 30px;
}
.nav-link{
    text-decoration: none;
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 1.875rem;
}
.home{
    color: orange;
}
.about{
    color: #01ACFD;
}
.facilities{
    color: #05D4DF;
}
.admission{
    color: #5D58EF;
}
.logo-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-logo{
    width: 60px;
    height: 60px;
    width: 100%;
}
.logo-name{
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.875rem;
    margin-left: 11px;
}
.nav-btn{
    background-color: orange;
    padding: 10px 60px;
    border: none;
    border-radius: 12px;
    color: white;
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 1.875rem;
}
.nav-hr{
    width: 100%;
    border-top: 1px solid orange;
    visibility: hidden;
    margin-top: 20px;
}
.menu-icon{
    display: none;
}
/* STYLING BANNER */
.banner{
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin-left: 140px;
    margin-right: 140px;
}
.banner-content{
    max-width: 640px;
    margin-right: 50px;

}
.banner-title{
    font-size: 3.5rem;
    font-weight: 700;
    line-height: 3.8rem;
    color: black;
    margin-bottom: 24px;
}
.emp{
    color: orange;
}
.vision{
    color: #01ACFD;
}
.banner-description{
    font-size: 1.25rem;
}
.banner-btn{
    background-color: black;
    color: white;
    padding: 10px 50px;
    border: none;
    border-radius: 12px;
    font-weight: bold;
    font-size: 1.25rem;
    line-height: 1.875rem;
    margin-top: 24px;
}
.hero-kid{
    width: 100%;
}

/* CURRICULUM SECTION STYLING */

.standard-curriculum{
    background-image: url(assets/bg.png);
}
.curriculum-container{
    max-width: 1200px;
    margin-left: 140px;
    margin-right: 140px; 
    display: flex;
    justify-content: center;
    gap: 28px;
    /* justify-content: space-around; */
}
.curriculum-title{
    font-weight: 700;
    font-size: 2.8rem;
    line-height: 3.5rem;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 80px;
}
.card{
    background: linear-gradient(to bottom, #DEF5FF, white, white);
    width: 367px;
    border-radius: 18px;
    border: 1px solid #DEF5FF;
    /* margin-left: 140px; */
}
.elementary-gradient{
    background: linear-gradient(to bottom, #FFF4DC,white, white);
    border: 1px solid #FFF4DC;
}
.middle-gradient{
    background: linear-gradient(to bottom, #F2E8FF, white, white);
    border: 1px solid #F2E8FF;
}
.card-logo{
    margin-left: 115px;
    margin-top: 52px;
    
}
.card-title{
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 2rem;
    margin-top: 30px;
    margin-bottom: 32px;
    text-align: center;
}
.card-description{
    font-family: Raleway;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.75rem;
    color: #808080;
    text-align: center;
    margin: 30px 40px;
}
.card-button{
    text-align: center;
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.75rem;
    color: #64C8FF;
}
.elementary-btn{
    color: #F0AA00;
}
.middle-btn{
    color: #8700FF;
}
.arrow-icon{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    margin-bottom: 60px;
    
}
.left, .right{
    width: 50px;
    text-align: center;
    border-radius: 50%;
    background-color: #F0AA00;
    color: white;
    font-size: 30px;
    padding: 10px;
    
}

/* STORY SECTION STYLING */

.our-stories{
    background: url(assets/bg.png), linear-gradient(to bottom, white,  rgba(254, 161, 1, 0.305));  
}
.story-title{
    font-weight: 700;
    font-size: 2.8rem;
    line-height: 3.5rem;
    margin-top: 60px;
    margin-bottom: 80px;
    text-align: center;
}
.img-container{   
    /* max-width: 1200px;
    padding-left: 140px; */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    gap: 25px;
    margin: 35px;
    padding: 10px 80px 140px 140px;
    
}
.img-container img{
    width: 100%;
    /* object-fit: cover; */
    border-radius: 16px  16px 0 0;
}
.img-container div{
    border-radius: 16px;
    background-color: white;
}
.img1{
    grid-column: span 2;
    grid-row: span 2;
    object-fit: cover;
}

.story-card-title, .story-card-title1{
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.8rem;
    margin-left: 30px;
    margin-bottom: 30px;

}
.story-card-title1{
    font-size: 1.5rem;
    line-height: 2.4rem;
    margin-left: 38px;
}
.story-btn{
    position: relative;
    top: -30px;
    left: 30px;
    color: white;
    background-color: #3CD8E8;
    border: none;
    border-radius: 48px;
    font-family: Raleway;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1rem;
    padding: 14px 19px;
}
.olive-color{
    background-color: #95B226;
}
.purple-color{
    background-color: #5D58F0;
}
.story-card-description{
    width: 440px;
    font-family: Raleway;
    font-size: 1rem;
    font-weight: 1.8rem;
    color: #666666;
    margin-left: 38px;
    margin-bottom: 35px;
}
.view-btn{
    display: flex;
    justify-content: center;
    
}
.view-all{
    background-color: black;
    color: white;
    border: none;
    border-radius: 12px;
    padding: 10px 60px;
    font-family: Quicksand;
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.8rem;
    text-align: center;
    margin-bottom: 50px;
    
}
/* FOOTER STYLING */
.footer-container{
    background-color: #01ACFD;
    display: flex;
    justify-content: space-around;
    padding-left: 50px;
    padding-top: 120px;
    padding-bottom: 120px;
}
.edu-content{
    display: flex;
    /* justify-content: center; */
    align-items: center;
}
.edu-title{
    font-weight: bold;
    font-size: 2.5rem;
    color: white;
    line-height: 2.5rem;
    margin-left: 10px;
}
.edu-description{
    font-size: 1rem;
    font-weight: 500;
    color: white;
    margin-top: 35px;
    max-width: 399px;

}
.footer-logo{
    background-color: white;
}
.foot-items{
    list-style: none;
    color: white;
    margin-bottom: 20px;
    font-size: 1.25rem;
    font-weight: 500;
    
}
.about-title{
    margin-bottom: 24px;
    font-size: 1.5rem;
    color: white;
    font-weight: 700;
    
}
.social-title{
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 1.6rem;
    color: white;
    margin-bottom: 32px;
}

/* responsive for small device like mobile phone */
@media screen and (max-width: 576px) {
    .nav-links, .nav-btn, .logo-name{
        display: none;
    }
    .navbar{
        justify-items: center;
    }
    .nav-container{
    
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 10px 20px;
        
    }
    .nav-logo{
        margin-left: 20px;
    }
    .banner{
        flex-direction: column-reverse;
    }
    .hero-kid{
        margin-top: 28px;
        width: 336px;
    }
    .banner-content{
        width: 357px;
        justify-items: center;
        text-align: center;
    }
    .banner-title{
        font-size: 2.25rem;
    }
    .nav-hr{
        width: 426px;
        /* margin-left: -150px;  */
        visibility: visible;
    }
    .menu-icon{
        display: block;
        font-size: 30px;
         /* margin-right: 10px; */
        text-align: center;
    }
    .curriculum-container{
        flex-direction: column;
        margin: 0 auto;
        padding: 30px;
    }
    .arrow-icon{
        display: none;
    }
    .img-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 11px;
        margin: 0 auto;
        padding: 20px;
        object-fit: cover;
    }
    .img1{
        display: none;  
        
    }
    .story-btn{
        font-size: 0.85rem;
        left: 20px;
    }
    .story-card-title{
        margin-left: 15px;
        margin-right: 10px;
    }
    .footer-container{
        display: block;
    }
    .edu, .about-school{
        margin-bottom: 32px;
    }
}